
.home{
    max-width: 800px;
}
.ComNav{
    position: sticky;
    background: rgb(219,219,219);
    height: 655px;
    padding-right: 1349px;
}
.wholeNav{
    position: fixed;
    top: 0; /* To stick it at the top of the viewport */
    left: 0;
}
.brand{
    position: relative;
    left: 50px;
    top: 7px;
    color: black;
    font-style: oblique;
    font-size:larger;
}
.cont1{
    position: relative;
    top: 250px;
    left: 200px;
    width: 500px;
}
.item{
    position:relative;
    left: 500px;
    top: 5px;
    color: black;
    font-size: large;
    font-style:initial;
    
}
.Img1{
    position: absolute;
    top: 10px;
    left: 700px;
}
.int{
    opacity: 0.7;
    color: grey;
}
.int2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Abt-main{
    background-color: #332421;   
    position: relative;
    top: 0px;
    margin-right: -548px;
}
.Abt{
    width: 1150px;
    color: white; 
    padding-left: 650px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.Abt-img{
    position: absolute;
    top: 130px;
    left: 200px;
    background-color: #dfaf74;
    border-radius: 50%;
}
.Comp-Skil{
    position: relative;
    background: rgb(219, 219, 219);
    width: 1349px;
    
}
.Skl{
    position: relative;
    top: 150px;
    left: 350px;
    width: 800px;
}
.shapes{
    position: absolute;
    background: #dfaf74;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: -5px;
    left: -320px;
}
.shapes3{
    position: absolute;
    width: 80px; 
    height: 150px; 
    border-radius: 0 100px 100px 0;
    left: -350px;
    top: 80px;
    background: transparent;
    border: 2px solid;
}
.Ftr{
    position: relative;
    background-color: #332421;
    top: 0px;
    margin-right: -540px;
    color: white;
}
.items{
    position: relative;
    display: inline;
    left: 40px;   
    bottom: 50px;
}
.shapes5{
      position: relative;
      top: -290px;
      left: 818px;
      width: 180px;
      height: 280px;
      background-color: #dfaf74;
      border-top-left-radius: 250px;
      border-bottom-left-radius: 250px;
      z-index: 1;
}
.shapes6{
    position: relative;
    background: transparent;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: -620px;
    left: 710px;
    border: 2px solid ;

}
progress {
    width: 600px;
    height : 20px;
    border: 2px solid gray;
 }
 progress::-webkit-progress-bar {
    background-color:#d3bea5;
 }
 progress::-webkit-progress-value {
    background-color:#95734a;
 }
.Proj-main{
    margin-top: -300px;
    padding-top: 50px;
    background-color: #332421;   
    position: relative;
    top: 200px;
    margin-right: -540px;
    height: 800px;
}
.key1{
    position: relative;
    top:20px;
    left: 250px;
    background-color: #dfaf74;
}
.text1{
    font-size: small;
}
.key2{
    position: relative;
    top: -270px;
    left: 845px;
}
.key3{
    position: relative;
    top: -220px;
    left: 530px;
}
.shape1-proj{
    position: relative;
    background: #dfaf74;
    border-radius: 0 100px 100px 0;
    width: 100px;
    height: 100px;
    top: -840px;   
    left: 120px;
}
.shape2-proj{
    position: relative;
    background: #dfaf74;
    border-radius: 0 100px 100px 0;
    width: 100px;
    height: 100px;
    top: -940px;
    left: 720px;
}
.shape3-proj{
    position: relative;
    background: #dfaf74;
    border-radius: 0 100px 100px 0;
    width: 100px;
    height: 100px;
    top: -700px;
    left: 400px;
}
.num-shape{
    position: relative;
    left: 45px;
    top: 25px;
}
.Exp-main{
    position: relative;
    top: 200px;
    margin-right: -540px;
    height: 800px;
    background: rgb(219,219,219);
}
.main-title{
    position: relative;
    text-align: center;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.subtitle{
    position: relative;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.exp-card1{
    position: relative;
    top:20px;
    left: 250px;   
    background-color: transparent;
}
.exp-card1:hover{
    background-color: #332421;
    color: white;
}
.exp-shp1{
    position: relative;
    background: #dfaf74;
    border-radius: 50%;
    width: 60px;
    height: 60px;   
    top: -90px;
    left: 560px;
}
.num-shp1{
    position: relative;
    left: 25px;
    top: 13px;
}
.Exp-info{
    position: relative;
    padding-left: 650px;
    top: -150px;
}
.exp-card2{
    position: relative;
    top:-100px;
    left: 650px;      
}
.exp-card2:hover{
    background-color: #332421;
    color: white;
}
.exp-shp2{
    position: relative;
    background: #dfaf74;
    border-radius: 50%;
    width: 60px;
    height: 60px;   
    top: -250px;
    left: 560px;
}
.Exp-info2{
    position: relative;
    padding-left: 250px;
    top: -305px;   
}
.First-card{
    padding-top: 50px;
}
.Sec-card{
    padding-top: 100px;
}
.Edu-main{
    position: relative;
    background: #332421;
    margin-top: 100px;
    margin-right: -540px;
    height: 800px;
}
.Edu-tit{
    position: relative;
    padding-left: 580px;
    padding-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.vertical-line{
    position: relative;
    border-left: 1px solid #dfaf74;
    height: 100px;
    margin-left: 630px;
    margin-top: 50px;
}
.cir{
    position: relative;   
    background: transparent;
    border: 2px solid #dfaf74;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    top: 1px;
    left: 595px;
}
.vertical-line2{
    position: relative;
    border-left: 1px solid #dfaf74;
    height: 100px;
    margin-left: 630px;
    margin-top: 2px;   
}
.cir-num{
    position: relative;
    left: 28px;
    top: 20px;
    color: #dfaf74;
}
.Grad{
    position: relative;
    width: 500px;
    color: white;
    top: -200px;
    left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Inter{
    position: relative;
    width: 500px;
    color: white;
    top: -100px;
    left: -300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Edu-shp{
    position: relative;
    top: -550px;
    left: 1210px;
    width: 130px;
    height: 280px;
    background-color: #dfaf74;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    z-index: 1;
}
.Edu-shp2{
    position: relative;
    width: 110px; 
    height: 200px; 
    border-radius: 0 100px 100px 0;
    left: -2px;
    top: -600px;
    background: #dfaf74;
    border: 2px solid;
}
.Edu-cir{
    position: relative;   
    background: transparent;
    border: 2px solid #dfaf74;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    top: -700px;
    left: -30px;
}
.Edu-cir2{
    position: relative;   
    background: #dfaf74;
    border: 2px solid #dfaf74;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    top: -1300px;
    left: 1140px;
}
.Cnt-main{
    position: relative;
    background: rgb(219, 219, 219);
    width: 1349px;
    height: 730px;
}
.Cnt-shp{
    position: relative;   
    background:#332421;
    border-radius: 50%;
    border-bottom-left-radius: 120px;
    border-top-left-radius: 20px;
    width: 670px;
    height: 670px;   
    top: -60px;
    left: -100px;
}
.shp-cont{
    position: absolute;
    top: 200px;
    left: 300px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#inp{
    width: 500px;
    background: transparent;
    border: 2px solid #332421;
}
#inp:hover{
    background: white;
}
#inptext{
    width: 500px;
    height: 100px;
    background: transparent;
    border: 2px solid #332421;
}
#inptext:hover{
    background: white;
}
button{
    width: 500px;
    background: transparent;
    border: 2px solid #332421;
}
button:hover{
    background: #332421;
    color: white;
}
@media only screen and (max-width: 600px) {
   body{
    background-color: blue;
   }
   .home{
    max-width: 600px;
   }
}